<template>
  <style>
    strong {
      color: red;
    }
  </style>
  <p>Hello <strong class='name'></strong></p>
</template>
<script type="text/javascript">
  (function(window, document) {
    var elementName = 'hello-world'; // must have hyphenated prefix
    var componentDocument = (document._currentScript || document.currentScript).ownerDocument;
    var template = componentDocument.querySelector('template').content;

    var HelloWorldProto = Object.create(HTMLElement.prototype);
    HelloWorldProto.name = 'World';

    HelloWorldProto.attachedCallback = function() {
      var shadowRoot = this.createShadowRoot();
      var clone = document.importNode(template, true);
      shadowRoot.appendChild(clone);

      if(this.hasAttribute('name')) {
        var obj = JSON.parse(this.getAttribute('name'));
        this.name = obj.first_name + ' ' + obj.last_name;
      }

      shadowRoot.querySelector('.name').textContent = this.name;

      if(WebComponents.ShadowCSS) {
        WebComponents.ShadowCSS.shimStyling(shadowRoot, elementName);
      }
    }

    document.registerElement(elementName, {
      prototype: HelloWorldProto
    });
   })(window, document);
</script>
