@import 'bootstrap';

@mixin line-overflow($lines, $line_height) {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  line-height: #{$line_height}px;
  max-height: #{$line_height * $lines}px;
  -webkit-line-clamp: $lines;
  -webkit-box-orient: vertical;
}

.thumbnail-overlay {
  position: relative;
  min-height: 110px;
}
.no-padding {
  padding: 0 !important;
}
.no-margin {
  margin: 0 !important;
}

.text-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@each $size, $value in (xs: 1, sm: 2, md: 3, lg: 4) {
  .ellipsis-#{$size} {
    @include line-overflow($value, 20);
  }
}

.movie-tile {
  max-width: 390px;
  max-height: 472px;
}

.thumbnail-overlay {
  border-bottom: 0;
  box-shadow: none;
}

.poster {
  height: 220px;
  width: 100%;
}

.details {
  margin-bottom: 0;
  border-top-width: 0px;
  background-color: #ffffff;

  &:last-child {
    margin-bottom: $padding-large-vertical * 2;
    padding-bottom: $padding-large-vertical * 2;
  }

  .well-title {
    line-height: $font-size-small;
  }

  .show_title, .release_year {
    line-height: $font-size-large;
  }

  .release_year {
    min-height: 40px; // same height as ellipsis-xs * 2
  }

  .rating {
    height: 45px; // line-height * 2
  }

  .well-container {
    margin: $padding-large-vertical 0;
    .show_title {
      font-weight: bold;
    }
    .summary {
      height: 60px; // same height as ellipsis-md
      margin: 0 auto;
    }
  }
}
